@{
    ViewBag.Title = "About";
    <h2>{{aboutTitle}}</h2>
    <h3>{{aboutMessage}}</h3>

    <p>I want to say this is fair use, but its probably not. This website is clearly just for educational purposes. To be run on local serves not avalible to the public. </p>
