@model IEnumerable<WebApplication2.Data.Word>

<script src="~/js/home-index.js"></script>
<div ng-app="myapp" ng-controller="homeIndexController">

    <div class="jumbotron">
        <p class="lead"><strong> {{appName}} </strong>Trivia with an Urban Twist</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    @if (!Request.IsAuthenticated)
    {
        <h1>urban trivia. </h1>
        <table>
            <tbody>
                <tr><td> Name </td> <td> Definition</td> </tr>
                    <tr ng-repeat="words in data">
                        <td>
                            {{words.Name}}
                        </td>
                        <td>
                           {{words.Definition}}
                        </td>
                    </tr>
            </tbody>
        </table>
        
    }
    else
    {
        <div class="col-md-4">
            <h2>{{mainTitle1}}</h2>
            <p>{{mainMessage1}}</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{mainTitle2}}</h2>
            <p>{{mainMessage2}}</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{mainTitle3}}</h2>
            <p>{{mainMessage3}}</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    }
    </div>