@model IEnumerable<WebApplication2.Data.Word>
@{;
         
}
<script>
    var app = angular.module('indexApp', []);
    app.run(function ($rootScope) {
        $rootScope.mainTitle1 = "Register";
    });
</script>

    <div class="jumbotron">
            <p class="lead"><strong> {{appName}} </strong>Trivia with an Urban Twist</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
@if (Request.IsAuthenticated)
{
<h1>URBAN DICTIONARY </h1>
foreach (var w in Model)
{
<div>@w.Name  @w.Definition</div>
    }

}
else
{
        <div class="row" ng-app="indexApp">
            <div class="col-md-4">
                    <h2>{{mainTitle1}}</h2>
                    <p>
                        Registration helps us keep up with the highest scores! You can play the game anonymously of course, but if you do your an Alaskan Firedragon!
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
            <div class="col-md-4">
                <h2>Signning in</h2>
                <p>
                    Signning in is the worst part about any website. Don't be a <strong>CUNT</strong>
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Play!</h2>
                <p>Play to win high stakes trivial combat!</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>

        }
