@model IEnumerable<WebApplication2.Data.Word>
    @{ 
        ViewBag.InitModule = "homeIndex";
    }
@section Scripts{
    <script src="~/js/home-index.js"></script> 
    <script src="~/Scripts/angular-route.js"></script>
    }

    <div class="jumbotron">
        <p class="lead"><h2><strong> urban trivia. </strong></h2>Trivia with an Urban Twist</p>
        <p><a href="#/wordList" class="btn btn-primary btn-lg">See All the Words &raquo;</a></p>
    </div>

    <div class="progress progress-striped active" ng-show="isBusy">
        <div class="progress-bar" style="width: 100%"></div>
    </div>
    @if (!Request.IsAuthenticated)
    {
        <div ng-view=""></div>
    }
    else
    {
        <div class="col-md-4">
            <h2>{{mainTitle1}}</h2>
            <p>{{mainMessage1}}</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{mainTitle2}}</h2>
            <p>{{mainMessage2}}</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{mainTitle3}}</h2>
            <p>{{mainMessage3}}</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    }