<h1>All the words!</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="info"><th> Name </th> <th> Definition</th><th>Url</th> </tr>
        </thead>
        <tbody>
            <tr ng-repeat="words in data.words" >
                <td>
                    {{words.Name}}
                </td>
                <td>
                    {{words.Definition}}
                </td>
                <td><a href="http://www.{{words.Url}}" target="_blank"> {{words.Url}} </a></td>
            </tr>
        </tbody>
    </table>
</div>